@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$appTextSize: 16px;
$appTextWeight: 400;

$appHeaderTextSize: 22px;
$appHeaderTextWeight: 400;

$appSubHeaderTextSize: 14px;
$appSubHeaderTextWeight: 500;

$appHelperTextSize: 12px;
$appHeaderTextWeight: 400;
